<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 命名空间与对应的映射接口的全类名一致 -->
<mapper namespace="com.yc.fav.mapper.TagMapper">
	<select id="selectAllTags" resultType="Tag">
		select * from Tag
	</select>
	<insert id="insertTag" parameterType="Tag">
		<selectKey keyColumn="tid" keyProperty="tid" resultType="int" order="BEFORE">
			select tid from tag t right join (select '${tname}' tn from dual) temp on t.tname=temp.tn
		</selectKey>
		<choose>
			<when test="tid!=null">
				update tag set tcount = tcount + 1 where tid =#{tid}
			</when>
			<otherwise>
				insert into tag values(seq_tag.nextval,#{tname},1)
			</otherwise>
		</choose>
	</insert>
</mapper>
